@font-face {
    font-family: 'Monday';
    src: local('Monday'), url(./Fonts/Monday.otf) format('truetype');
}

.title {
    font-family: 'Monday';
    text-align: center;
    text-shadow: 2px 2px 5px grey;
    font-size: 10rem;
}

.navBarMenu {
    width: 100%;
    font-family: "montserrat light";
    color: rgb(91, 91, 95);
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.navBarLinks {
    color: blue;
    text-align: center;
    text-decoration: none;
}

.modals {
    font-family: "montserrat light" 
}

.modalButton {
    text-decoration: none;
}

.buttonsAddRemove {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.quantityCounter {
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10rem;
}

.itemDetailCard {
    align-items: center;
    text-align: center;
}

.buttonIr {
    color: white;
    text-decoration: none;
}

.shopCartTitle{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "montserrat light";
}

.cartTable{
    margin-left: 10px;
    text-align: center;
    font-family: "montserrat light";
}

.cartImg{
    width: 2rem;
    height: 2rem;
}

.empyShopCart{
    margin: auto;
    display: block;
}

.continuarCompra{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "montserrat";
}


